/**************************/
/* Tailwind CSS Framework */
/**************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

/********************/
/* Z-Index Register */
/********************/
/*
bg-image: -100
*/

:root {

    /* SCSS RGB */
    --onyx: rgba(67, 68, 71, 1);
    --blue-munsell: rgba(4, 139, 168, 1);
    --antiflash-white: rgba(231, 236, 239, 1);
    --old-rose: rgba(170, 118, 124, 1);
    --fern-green: rgba(98, 139, 72, 1);

    /*variables*/   
    /* --text: rgba(223, 223, 223, 0.80); */
    --text: var(--antiflash-white);
    --modaltext: rgba(244, 244, 255, 1);
    --tableborder: rgb(223, 223, 223);
    --texthighlight: rgb(138, 172, 250);
    --linkbackground: rgb(86, 86, 86);
    --linkactive: var(--fern-green);
    --buttontext: rgb(244, 244, 255);    
    --textwinein: rgb(22, 163, 74);
    --textwineout: rgb(220, 38, 38);
    --deletebutton: rgb(223, 55, 55);
    --deletebuttonhover: rgb(185, 28, 28);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    color: var(--text);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}

/*********/
/* Pages */
/*********/

.page {
    width: 60%;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

/* Heading 1 */

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    padding: 10px;
}

/* Paragraph */

p {
    font-size: 1rem;
    padding: 10px;
}

/********************/
/* Background Image */
/********************/

.bg-image {
    background-image: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1) ), url("./assets/images/REM B&W Back.jpg");  
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    filter: blur(0px);
    z-index: -100;  
}

/******************************************/
/* Background of tables - layer of filter */
/******************************************/

.bg-filter {
    background-color: rgba(0, 0, 0, 0.5); 
}


/**********/
/* Header */
/**********/

/***********/
/* Heading */
/***********/

.heading {
    text-align: left;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    font-weight: 600;
}

/**********/
/* NavTab */
/**********/

.navtab {
    display: flex;
    justify-content: right;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 50%;
}

.nav-item {
    font-size: 1.25rem;
    padding-top: 5px;
    padding-right: 1.5rem;
    padding-bottom: 5px;
    padding-left: 1.5rem;
    margin: 2px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 600;
    border-radius: 0.75rem;
    text-align: center;     
}

.nav-item:hover {
    background-color: var(--linkbackground); 
    color: var(--buttontext);
}

.nav-active {
    text-decoration: underline;
    transform-origin: center;
    transition-duration: 300ms;
    background-color: var(--linkbackground); 
    color: var(--buttontext);
}



/******************************/
/* Media Query LESS THAN 1280px /
/******************************/
@media (max-width: 1280px) {
    .navtab {
        justify-content: center;
        width: 100%;
        padding-right: 0px;
        margin-top: 0px
    }
    .heading {
        text-align: center;
        width: 100%;
        padding-left: 0px;
    }
}

/******************************/
/* Media Query LESS THAN 640 /
/******************************/
@media (max-width: 640px) {
    .navtab {
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
        padding-right: 0px;
        min-width: 285px;
    }
    .nav-item {        
        width: 45%;;
   
    }
}