/**************************/
/* Tailwind CSS Framework */
/**************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

/********************/
/* Z-Index Register */
/********************/
/*
bg-image: -100
*/

:root {

    /* SCSS RGB */
    --onyx: rgba(67, 68, 71, 1);
    --blue-munsell: rgba(4, 139, 168, 1);
    --antiflash-white: rgba(231, 236, 239, 1);
    --old-rose: rgba(170, 118, 124, 1);
    --fern-green: rgba(98, 139, 72, 1);

    /*variables*/   
    /* --text: rgba(223, 223, 223, 0.80); */
    --text: var(--antiflash-white);
    --modaltext: rgba(244, 244, 255, 1);
    --tableborder: rgb(223, 223, 223);
    --texthighlight: rgb(138, 172, 250);
    --linkbackground: rgb(86, 86, 86);
    --linkactive: var(--fern-green);
    --buttontext: rgb(244, 244, 255);    
    --textwinein: rgb(22, 163, 74);
    --textwineout: rgb(220, 38, 38);
    --deletebutton: rgb(223, 55, 55);
    --deletebuttonhover: rgb(185, 28, 28);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    color: var(--text);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}

/* Heading 1 */

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    padding: 10px;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    padding: 10px;
}

/* Paragraph */
/* p {
    font-size: 1rem;
    padding: 10px;
} */

/* main {
    height: calc(100vh - 380px);
} */

/********************/
/* Background Image */
/********************/

.bg-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0) ), url("/assets/images/REM B&W Back.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    filter: blur(0px);
    z-index: -100;  
}

/******************************************/
/* Background of tables - layer of filter */
/******************************************/

.bg-filter {
    background-color: rgba(0, 0, 0, 0.7); 
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: ease-in-out .3s;
}


/**********/
/* Header */
/**********/

/***********/
/* Heading */
/***********/
header {
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.heading {
    justify-content: left;
    padding-left: 100px;
    width: 40%;
    font-weight: 600;
    transition: ease-in-out .3s;
}

/*********/
/* Logo */
/*********/

.logo {
    transition: ease-in-out .3s;
}


/**********/
/* NavTab */
/**********/

.navtab {
    display: flex;
    justify-content: right;
    padding-right: 100px;
    width: 60%;
    /* border: 2px solid green; */
    margin-bottom: 5px;
    margin-top: 5px;
    transition: ease-in-out .3s;    
}

.nav-item {
    padding-top: 3px;
    padding-right: 1rem;
    padding-bottom: 3px;
    padding-left: 1rem;
    margin: 1px;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 600;
    border-radius: 0.75rem;
    text-align: center;
    transition: ease-in-out .3s;    
}

.nav-item p {
    font-size: 1.5rem;
}

.nav-item:hover {
    background-color: var(--linkbackground); 
    color: var(--buttontext);
}

.nav-active {
    text-decoration: underline;
    transform-origin: center;
    transition-duration: 300ms;
    background-color: var(--linkbackground); 
    color: var(--buttontext);

    display: inline-block;
    vertical-align:bottom;
    text-align: center;
}

/*********/
/* Pages */
/*********/

.page {
    width: 80%;
    margin: auto;
}

/**********/
/* Footer */
/**********/

.footer {
    max-width: 300px;
    margin-top: 50px;
    margin-inline: auto;
    text-align: center;         
    font-size: 0.75rem;
    justify-content: center;  
    align-items: center;
}

/******************/
/* Portfolio page */
/******************/

.apps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-inline: auto;
}

.apps-item {
    flex: 1 0 cal(33% - 5rem);
    min-width: 300px;
    max-width: 600px;
    padding: 10px;
    margin: 10px;   
}

/*******************************/
/* Media Query LESS THAN 1280px /
/*******************************/
@media (max-width: 1280px) {
    .navtab {
        justify-content: center;
        width: 100%;
        padding-right: 0px;
    }
    .heading {
        justify-content: center;
        width: 100%;
        padding-left: 0px;
    }
    .page {        
        width: 85%;
    }
}



/*****************************/
/* Media Query LESS THAN 1024 /
/*****************************/
@media (max-width: 1024px) {
    .page {        
        width: 90%
    }
}

/******************************/
/* Media Query LESS THAN 768 /
/******************************/
@media (max-width: 768px) {
    .page {        
        width: 95%;
    }
}

/******************************/
/* Media Query LESS THAN 640 /
/******************************/
@media (max-width: 640px) {
    .navtab {
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
        padding-right: 0px;
        min-width: 285px;
    }
    .nav-item {        
        width: 45%;;
    }
    .nav-item p {
        font-size: 1rem;
    }
    .page {        
        width: 95%;
    }
    .logo {        
        width: 80px;
    }

}